@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#nav-bar,
#alltabs-button,
#new-tab-button,
.tabs-newtab-button,
.scrollbutton-up,
.scrollbutton-down,
.tab-close-button {
  display: none !important;
}

.tabbrowser-tab[selected] .tab-content {
  background-image: linear-gradient(rgb(253, 246, 227), rgb(253, 246, 227)) !important;
}

.tab-background:not([selected="true"]) {
  background-color: unset !important;
}

.tabbrowser-tab .tab-content {
  border-right: 1px solid rgb(147, 161, 161) !important;
}
