@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Work around issues with HiDPI */
* {
  font-size: 16px !important;
}

/* Remove tab styling */
.tabbrowser-tab {
  box-shadow: none !important;
  --tab-label-mask-size: 0 !important;
}
.tab-background {
  margin: 1px 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

/* Put URL and Tab bars on same line */
#navigator-toolbox {
  display: flex !important;
}
#nav-bar {
  order: 1 !important;
}
#titlebar {
  order: 2 !important;
  flex: 1 !important;
}

/* Hide buttons */
#back-button, #forward-button, #PanelUI-menu-button, #tabs-newtab-button {
  display: none !important;
}

/* Remove weird second line of text from tabs */
.tab-secondary-label {
  display: none !important;
}

/* Remove border around url input */
#urlbar-background {
  border: 0 !important;
  background-color: var(--toolbar-bgcolor) !important;
}

/* Assuming menu bar is hidden by default, make it replace tab bar when visible */
#toolbar-menubar[inactive="true"] {
  display: block;
}
#toolbar-menubar:not([inactive="true"]) {
  height: 40px;
  display: flex;
  align-items: center;
}
#toolbar-menubar:not([inactive="true"]) + #TabsToolbar {
  display: none !important;
}
